.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 1px 0px 15px -4px rgba(0,0,0,0.50);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  transition: all 0.3s;
}

.contenido{
  background-color: white;
  padding: 1rem;
  border-radius: .5rem;
  height: 100%;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}